.pageContainer {
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

.headerContainer {
    position: fixed;
    top: 100px;
    left: 85px;
    right: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 85px 0 85px;
    padding-top: 20px;
    padding-bottom: 10px;
}


.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.searchContainer {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}


.searchInput {
    width: 100%;
    padding: 8px 15px;
    font-size: 16px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    border-color: var(--marvel-red-dark);
}

.divideLine {
    width: 100%;
    height: 2px;
    background-color: var(--divider-color);
    margin: 0;
}

.virtuosoContainer {
    padding-top: 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.comicsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.comicRow {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.comicCardWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.loadingFooter {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    color: var(--loading-text);
}

.endMessage {
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    color: var(--end-message);
}

.errorMessage {
    text-align: center;
    padding: 40px;
    color: var(--error-text);
    font-weight: bold;
    font-size: 18px;
}

.initialLoading {
    text-align: center;
    padding: 40px;
    font-weight: bold;
    font-size: 18px;
    color: var(--loading-text);
}

@media (max-width: 1200px) {
    .comicRow {
        width: 25%;
    }
}

@media (max-width: 900px) {
    .comicRow {
        width: 33.33%;
    }
}

@media (max-width: 600px) {
    .comicRow {
        width: 50%;
    }
}